.header {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px 5px 20px;
}
/*헤더 왼쪽*/
.headerLeft {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerLeft:hover {
  cursor: pointer;
}
.hederLeftImg img {
  width: 50px;
  height: 50px;
}
/*헤더 오른쪽*/
.headerRight {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerRight div {
  margin-right: 10px;
  padding: 5px;
  line-height: 30px;
  background-color: red;
}
.headerRight div:hover {
  cursor: pointer;
}
